body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: #252525;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

/*.nav {*/
/*  border-bottom: solid;*/
/*}*/

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  border-bottom: solid;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.tweet {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.tweet-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.tweet-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.tweet-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.tweet-info > div > div {
  color: #969696;
  font-size: 15px;
}
.tweet-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.tweet-icons {
  display: flex;
  align-items: center;
}
.tweet-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.tweet-icon {
  font-size: 27px;
  color: #697784;
}
.tweet-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.hide {
  display: none
}

.show {
  display: block;
}

.avatar {
  height: 80px;
  width: 80px;
  border-radius: 44px;
  border: solid 2px;
  margin: 8px;
}


.user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 21px;
  margin: 10px;
}

.card {
  border-radius: 4px;
  padding-bottom: 16px;
  margin: auto;
  width: 392px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.new-question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 16px;
  font-size: 15px;
  height: auto;
  width: 400px;
  margin: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}

.col {
  display: flex;
  flex-direction: column;
}

.question-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px;
  padding-bottom: 8px;
  align-items: center;
}


.btn {
  margin: 0 auto;
  padding: 8px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 14px;
  width: 100px;
  position: relative;
  border-radius: 4px
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.font14 {
  font-size: 14px;
}

.margin-top-40 {
  margin-top: 40px;
}

select {
  height: 40px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.imgLogin {
  height: 150px;
  width: 150px;
  margin-bottom: 40px;
}

.user-info-container {
  display: flex;
  flex-direction: row;
}

.user-info-container p{
  margin: 0;
  font-size: 14px;
  padding: 0;
}

.user-info-container .btn {
  margin-top: 8px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user-info {
  align-items: center;
}

.btn-container {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.name-container {
  border-bottom: solid 2px;
  border-color: black;
  width: 100%;
  margin-bottom: 8px;
}

.margin-10-lr {
  margin-left:10px;
  margin-right: 10px;
}

.margin-top-16 {
  margin-top: 16px;
}

.width-100 {
  width: 100%;
}

.scoreText p{
  margin-top: 4px;
  margin-bottom: 4px;
}

.score {
  width: 104px;
}

.unanswered-question {
  border-bottom: solid 2px;
}

.selected {
  border: solid #61dafb 2px;
  margin: 16px;
  color: #61dafb;
}

.not-selected {
  margin: 16px;
  border: solid black 2px;
}

.margin-tb-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.radio-container {
  display: flex;
  flex-direction: column;
}

.question-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

